.main {
    position: relative;
    min-height: 52.1875rem;

    @include breakpoint-up(medium){
        display: flex;
        min-height: 44.0625rem;
    }

    &__container {
        text-align: center;

        @include breakpoint-up(medium){
            text-align: left;
            flex: 2;
            order: 1;
            padding-left: 1.4375rem;
            padding-top: 5.4375rem;  
        }

        @include breakpoint-up(large){
            padding-right: 1.4375rem;
            padding-top: 7.9375rem;  
        }
    }

    &__img {
        width: 100%;
		min-height: 21.125rem;
		background-image: url('../assets/images/illustration-working.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center left;
        margin-bottom: 2.8125rem;
        margin-left: 1.4375rem;

        @include breakpoint-up(medium){
            flex: 2;
            order: 2;
            height: 30.375rem;
        }

        @include breakpoint-up(large){
            background-image: none;
        }

        &::before {
           
            @include breakpoint-up(large){
                content: "";
                position: absolute;
                top: 2.9375rem;
                height: 29.875rem;
                width: 100%;
                background-image: url('../assets/images/illustration-working.svg');
                background-size: 65%;
                background-repeat: no-repeat;
                background-position: center left;  
            }
    }
}

    &__title {
        margin-top: 0;
    }

    &__txt {
        font-size: $font-med;
        line-height: 1.6;
        margin-bottom: 2.25rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;

        @include breakpoint-up(medium){
            padding-left: 0;
        }   
    }

    &__cta {
        margin-bottom: 5.375rem;
    }

    &__form {
        position: absolute;
		left: 50%;
        transform: translateX(-50%);
        bottom: -12%;
        padding: 1.4375rem;
        width: 88%;
        background-image: url('../assets/images/bg-boost-desktop.svg');
        background-color: $primary-color-dark-violet;
        border-radius: 0.75rem;
        outline: none;

        @include breakpoint-up(medium){
            display: flex;
            width: 96%;
            padding: 1.875rem 2.5rem;
            bottom: -8%;
        }

        @include breakpoint-up(large){
            padding: 3.125rem 4rem;
            bottom: -12%;
        }

        input, .form__cta {
            width: 100%;
            border-radius: 0.25rem;
            height: 3rem;

            @include breakpoint-up(large){
               height: 3.875rem;
               border-radius: 0.625rem;
            }
        }

        input {
            border: none;
            padding-left: 1rem;
            margin-bottom: 0.875rem;
            color: $neutral-grayish-violet;
            font-size: $font-sm;

            @include breakpoint-up(medium){
                margin-bottom: 0;
                margin-right: 1.375rem;
            }

            @include breakpoint-up(large){
                font-size: inherit;
            }

            &::placeholder {
                font-family: $font-stack;
                font-size: $font-sm;
                color: $neutral-grayish-violet;

                @include breakpoint-up(large){
                   font-size: $font-med;
                }
            }
        }

        .form__cta {
            padding: 0;
            margin-top: 0;

            @include breakpoint-up(medium){
                width: 11.75rem;
             }
        }
    }
}

