.result {
    background-color: $features-bg;

    &__container {
        padding-right: 1.4375rem;
        padding-left: 1.4375rem;
        border: 1px solid transparent;

        @include breakpoint-up(large){
            padding: 0;
        }
    }

    &__form {
        position: relative;
        padding: 1.4375rem;
        border: 1px solid transparent;
        margin-top: -4.6rem;
        margin-bottom: 1.375rem;
        display: block;
        background-image: url('../assets/images/bg-shorten-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $primary-color-dark-violet;
        border-radius: 0.75rem;
        outline: none;
        width: 100%;

        @include breakpoint-up(medium){
            background-image: url('../assets/images/bg-shorten-desktop.svg');
            display: flex;
            padding: 1.875rem 2.5rem;
            margin-top: -3.6rem;
        }

        @include breakpoint-up(large){
            padding: 3.125rem 4rem;
            margin-top: -5rem;
        }

        input, .result__cta {
            width: 100%;
            border-radius: 0.25rem;
            height: 3rem;

            @include breakpoint-up(large){
               height: 3.875rem;
               border-radius: 0.625rem;
            }
        }

        input {
            border: none;
            padding-left: 1rem;
            color: $neutral-grayish-violet;
            font-size: $font-med;

            @include breakpoint-up(medium){
                margin-bottom: 0;
                margin-right: 1.375rem;
            }

            @include breakpoint-up(large){
                font-size: inherit;
            }

            &::placeholder {
                font-family: $font-stack;
                font-size: $font-med;
                color: $neutral-grayish-violet;
            }

            &:focus {
                outline: none;
            }
        }

        .result__cta {
            padding: 0;
            margin-top: 0.875rem;
    
            @include breakpoint-up(medium){
                width: 11.75rem;
                margin-top: 0;
             }
        }
    }

    &__item {
        background-color: $white;
        border-radius: 8px;
        padding: 15px 0;
        text-align: center;
        margin-bottom: 23px;
        overflow: hidden;

        @include breakpoint-up(large){
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 26px;
            padding-right: 24px;
           
        }
    }

    &__original, &__short {
        text-align: left;
        font-size: 16px;
        padding-bottom: 14px;
        padding-right: 16px;
        padding-left: 16px;

        @include breakpoint-up(large){
            padding: 0;
            font-size: 18px;
        }
    }

    &__original {
        color: $neutral-blue; 
        position: relative;

        @include breakpoint-up(large){
            flex: 2;
        }


        &::after {
            content: "";
            position: absolute;
            height: 1px;
            left: 0;
            right: 0;
            bottom: -1px;
            background-color: $neutral-gray;

            @include breakpoint-up(large){
                display: none;
            }
        }
    }

    &__short {
        color: $primary-color-cyan;
        padding-top: 15px;
        border: none;

        @include breakpoint-up(large){
            padding: 0;
            padding-right: 20px;
        }
    }

    &__btn {
        width: 94%;
        border-radius: 6px;
        height: 40px;
        padding: 0;
        font-size: 14px;
        margin: 0 auto;

        @include breakpoint-up(medium){
            width: 97%;
        }

        @include breakpoint-up(large){
            height: 40px;
            width: 104px;
            margin: 0;
        }
    }

    .input-error {
        border: 3px solid $secondary-color-red;

        &::placeholder {
            color: $secondary-color-red;
        }
    }
}

.loader {
	margin: 0 auto;
	width: 100px;
	height: 100px;

	&:after {
		content: " ";
		display: block;
		width: 64px;
		height: 64px;
		margin: 8px;
		border-radius: 50%;
		border: 6px solid $primary-color-cyan;
		border-color: $primary-color-cyan transparent $primary-color-cyan transparent;
		animation: loader 1.2s linear infinite;
		transition: all 0.5s ease;
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.error {
    color: $secondary-color-red;
    font-style: italic;
    font-size: 14px;

    @include breakpoint-up(medium){
        position: absolute;
        top: 79px;
        right: 0;
        left: 40px;
        bottom: 0;
    }

    @include breakpoint-up(large){
        top: 111px;
        right: 0;
        left: 66px;
        bottom: 0;
    }    
}

.copied {
    background-color: $neutral-blue;
}
